@charset "UTF-8";

/** 首页页面样式  开始 **/
.m-page--fluid .m-page .m-page__container {
    padding: 0 0px;
}

.m-tabs-line {
    border-bottom: 0px solid #ebedf2;
    font-size: 18px;
    font-weight: 300;
    font-family: none;
}

.m-tabs-line .m-tabs__link {
    border: 0;
    border-bottom: 0px solid transparent;
    padding: 12px 0;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}

.m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--success a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--success a.m-tabs__link.active {
    color: #34bfa3;
    border-bottom: 1px solid #34bfa3;
    padding-bottom: 25px;
}

/** 右边悬浮导航栏 */
.m-nav-sticky {
    width: 60px;
    position: fixed;
    top: 35%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 110;
    border-radius: 8px 0 0 8px;
}

/** 首页页面样式  结束 **/