@charset "UTF-8";

/** 首页页面样式  开始 **/

.m-body .m-content {
    padding: 15px 0 0 0 !important;
}

.m-page--fluid .m-page .m-page__container {
    padding: 0 75px;
}

.m-tabs-line {
    border-bottom: 0px solid #ebedf2;
    font-size: 18px;
    font-weight: 300;
    font-family: none;
}

.nav-tabs {
     border-bottom: 0px solid #ebedf2 !important;
}

.m-tabs-line .m-tabs__link {
    border: 0;
    border-bottom: 0px solid transparent;
    padding: 12px 0;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}

.m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--success.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--success a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--success a.m-tabs__link.active {
    color: #34bfa3;
    border-bottom: 0px solid #34bfa3;
    padding-bottom: 25px;
}

.nav-item.m-tabs__item {
    padding-right: 30px;
}

/** 右边悬浮导航栏 */
.m-nav-sticky {
    width: 60px;
    position: fixed;
    top: 35%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 110;
    border-radius: 8px 8px 8px 8px;
}

/** 首页页面样式  结束 **/


/** 二维码样式 开始 */

.m-widget5 .m-widget5__item {
    display: table;
    width: 100%;
    margin-bottom: 1.43rem;
    padding-bottom: 1.57rem;
    padding-right: 5.7rem;
}

/** 二维码样式 结束  */

/** 边框阴影样式  开始 */
.border_shadow {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) !important;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) !important;
    background-color: #ffffff;
}
/** 边框阴影样式  结束 */

/** 头像样式 开始  */

.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__user-img .m-widget19__img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.m-widget19 .m-widget19__content .m-widget19__header {
    display: table;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/** 头像样式结束  */


/** 图片特效样式 开始 */

/*---------------*/
/***** effect-chico *****/
/*---------------*/

figure.effect-chico img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1);
    transform: scale(1);
}


figure.effect-chico:hover img {
    opacity: 0.9;
    -webkit-transform: scale(1.003);
    transform: scale(1.003);
}


.m-portlet .m-portlet-fit--top {
     margin-top: 0rem !important;
}

.m-portlet.m-portlet--bordered-semi .m-portlet__body {
    padding-top: 0rem !important;
}

.kt-callout--success {
    background-color: rgba(10, 187, 135, 0.07) !important;
}

.kt-callout--danger {
    background-color: rgba(253, 57, 122, 0.07) !important;
}

.kt-callout--brand {
    background-color: rgba(93, 120, 255, 0.07) !important;
}

.kt-callout--disabled {
    background-color: rgba(139, 137, 137, 0.1) !important;
}


/** 图片特效样式 结束 */


/** 分隔标题样式 开始  */
.m-alert{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.alert-success:not(.m-alert--outline) {
    color: #90e8d9 !important;
    background-color: rgba(243,250,255,0.5) !important;
    border-color: #f3faff !important;
}

.alert.m-alert--air {
     -webkit-box-shadow: 0px 1px 1px 1px rgba(81, 77, 92, 0.01);
     box-shadow: 0px 1px 1px 1px rgba(81, 77, 92, 0.01);
}


/** 分隔标题样式 结束  */